.card {
    min-width: 30rem;
    min-height: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.btn-light:hover {
    background-color: #5cb85c;
    color: #f7f7f7;
    border-color: #5cb85c;
}

#asignarCamiones .col {
    margin-bottom: 1rem;
}